{% extends "::base.html.twig" %}

{% block body %}
    <h1>{{ questionnaire.title }}</h1>
    <form action="{{ path('soumission', {'id':questionnaire.id}) }}" method="post">
        <table class="questionnaire">
            <tbody>
                {% for categorie in questionnaire.categories %}
                    <tr>
                        <td><strong><u>{{ categorie.libelle }}</u></strong></td>
                    </tr>   
                {% endfor %}

            </tbody>
        </table>
        <input type="submit" id="submit" value="Envoyer" name="submit">
    </form>        
{% endblock %}
